In [2]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\users\freddie\anaconda3\lib\site-packages (1.5.10)
Requirement already satisfied: certifi in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (2020.6.20)
Requirement already satisfied: requests in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (2.24.0)
Requirement already satisfied: urllib3 in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (1.25.11)
Requirement already satisfied: python-slugify in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (4.0.1)
Requirement already satisfied: tqdm in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (4.50.2)
Requirement already satisfied: python-dateutil in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (2.8.1)
Requirement already satisfied: six>=1.10 in c:\users\freddie\anaconda3\lib\site-packages (from kaggle) (1.15.0)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\freddie\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\freddie\anaconda3\lib\site-packages (from requests->kaggle) (2.10)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\freddie\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)

In [3]:
!mkdir .kaggle

In [5]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 9AC0-65DF

 Directory of C:\Users\FREDDIE\Desktop\Kaggle

01/27/2021  08:47 AM    <DIR>          .
01/27/2021  08:47 AM    <DIR>          ..
01/27/2021  08:47 AM    <DIR>          .ipynb_checkpoints
01/27/2021  08:44 AM    <DIR>          .kaggle
01/27/2021  08:46 AM             2,897 Kaggle_challenge.ipynb
               1 File(s)          2,897 bytes
               4 Dir(s)  129,125,883,904 bytes free

In [9]:
import json
token = {"username":"gilokip","key":"f20e33d8a0e0cedbdc782dd0491584b4"}
with open(r'C:\Users\FREDDIE\Downloads\kaggle.json', 'w') as file:
    json.dump(token, file)

In [11]:
!kaggle competitions download -c titanic

Downloading titanic.zip to C:\Users\FREDDIE\Desktop\Kaggle

  0%|          | 0.00/34.1k [00:00<?, ?B/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 62.3kB/s]
100%|##########| 34.1k/34.1k [00:00<00:00, 62.2kB/s]

In [12]:
import pandas as pd
import zipfile

In [18]:
#unzipping data
with zipfile.ZipFile("titanic.zip", 'r') as zip_ref:
    zip_ref.extractall(r"C:\Users\FREDDIE\Desktop\Kaggle\Data")

In [29]:
#reading train data
train_data = pd.read_csv(r'C:\Users\FREDDIE\Desktop\Kaggle\Data\train.csv')
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [30]:
#reading test data
test_data = pd.read_csv(r'C:\Users\FREDDIE\Desktop\Kaggle\Data\test.csv')
test_data.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [46]:
#finding average age of passengers (basic arithmentic operations)
average1 = train_data['Age'].mean()

print("Average age of people who survived:" +str(average1))

Average age of people who survived:29.69911764705882